<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560670952190-7eho1s3tjv7snttl8uhqkjlh3v6ta84l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560670952190-7eho1s3tjv7snttl8uhqkjlh3v6ta84l</string>
	<key>API_KEY</key>
	<string>AIzaSyC6VKSRcAhBCrYXv1J1vKgEfEv9UZgP5GU</string>
	<key>GCM_SENDER_ID</key>
	<string>560670952190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab4</string>
	<key>PROJECT_ID</key>
	<string>lab-4-185025</string>
	<key>STORAGE_BUCKET</key>
	<string>lab-4-185025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560670952190:ios:f5b00838234ba811d973af</string>
</dict>
</plist>